<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perros</title>
    <link rel="stylesheet" href="Todo.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="./clpusdprincipal.js"></script>
  </head>
<body>
  <div class="Fondo">
    <nav class="navbar navbar-expand-lg " data-bs-theme="dark" style="background: #6441A5;">
        <div class="container-fluid">
          <a class="navbar-brand" href="Principal.html">
          <img src="LOGO JANIS 2.png" alt="No disponible" width="90px" height="80px">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="Principal.html">Inicio</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Categorias
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="Perros.html">Perros</a></li>
                  <li><a class="dropdown-item" href="Gatos.html">Gatos</a></li> 
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="Adopcion.html">Adopciones</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Cambio de moneda
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item clpBtn">CLP</a></li>
                  <li><a class="dropdown-item dolarBtn">USD</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="IniciarSesion.html">Iniciar Sesion</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="IniciarSesionAdmi.html">Administracion</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="Suscripcion.html">Suscribete!</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="¿Que estas buscando?" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Buscar</button>
              </form>
          </div>
        </div>
    </nav>
  <div class="container-fluid">
    <div class="row mt-3">
      <div class="col-12 col-md-4 mb-4">
        <div class="card" >
          <img src="PerroJugete.png" class="card-img-top" height="300px" width: 350px; alt="...">
          <div class="card-body">
            <h5 class="card-title">Juguete Dispensador Golosinas para Perro</h5>
            <p class="card-text">Para estimular el juego con el aroma de las golosinas.</p>
            <div class="card-text"> PRECIO: <label class="h5">$</label><label class="h5" id="cardPrice">21900</label></div>
            <p class="card-text">STOCK: 10 unidades </p>
            <a href="Carrito1.html" class="btn btn-outline-primary">AGREGAR AL CARRO</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 mb-4" >
        <div class="card border-success">
          <img src="PerroKong.png" class="card-img-top" height="300px" width: 350px; alt="...">
          <div class="card-body">
            <h5 class="card-title">Juguete Classic para Perro Adulto - KONG</h5>
            <p class="card-text">Estimula la salud mental y a las necesidades instintivas.</p>
            <div class="card-text"> PRECIO: <label class="h5">$</label><label class="h5" id="cardPrice2">11600</label></div>
            <p class="card-text">STOCK: 6 unidades </p>
            <a1 href="#" class="btn btn-primary">AGREGAR AL CARRO</a1>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 mb-4">
        <div class="card border-success">
          <img src="PerroPaleta.png" class="card-img-top" height="300px" width: 350px; alt="...">
          <div class="card-body">
            <h5 class="card-title">Juguete Congelable para Perros</h5>
            <p class="card-text">Ya congelados, puedes dárselos a tu perro para refrescarse.</p>
            <div class="card-text"> PRECIO: <label class="h5">$</label><label class="h5" id="cardPrice3">12990</label></div>
            <p class="card-text">STOCK: 15 unidades</p>
            <a1 href="#" class="btn btn-primary">AGREGAR AL CARRO</a1>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 mb-4">
        <div class="card border-success">
          <img src="PerroComida2.png" class="card-img-top" height="300px" width: 350px; alt="...">
          <div class="card-body">
            <h5 class="card-title">Obesity Perro - 10.1KG</h5>
            <p class="card-text">Alimento seco para perros obesos y/o con diabetes.</p>
            <div class="card-text"> PRECIO: <label class="h5">$</label><label class="h5" id="cardPrice4">22600</label></div>
            <p class="card-text">STOCK: 2 unidades</p>
            <a1 href="#" class="btn btn-primary">AGREGAR AL CARRO</a1>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 mb-4">
        <div class="card border-success">
          <img src="PerroSnack.png" class="card-img-top" height="300px" width: 350px; alt="...">
          <div class="card-body">
            <h5 class="card-title">Alimento Húmedo Adulto - 140G</h5>
            <p class="card-text">Alimento húmedo para perros adultos, Raza Mediana.</p>
            <div class="card-text"> PRECIO: <label class="h5">$</label><label class="h5" id="cardPrice5">2300</label></div>
            <p class="card-text">STOCK: 10 unidades</p>
            <a1 href="#" class="btn btn-primary">AGREGAR AL CARRO</a1>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 mb-4">
        <div class="card border-success cb6"  >
          <img src="PerroComida3.png" class="card-img-top" height="300px" width: 350px; alt="...">
          <div class="card-body">
            <h5 class="card-title">Alimento para Perro Renal Care - 10KG</h5>
            <p class="card-text">Cantidad de proteínas, niveles adecuados de omega 3, etc. </p>
            <div class="card-text"> PRECIO: <label class="h5">$</label><label class="h5" id="cardPrice6">20500</label></div>
            <p class="card-text">STOCK: 8 unidades</p>
            <a1 href="#" class="btn btn-primary">AGREGAR AL CARRO </a1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <footer>
      <img class="logotipo-footer" src="" >
      <br>
      <img class="iconos-redes" src="instagram.png" height="60px" width="60px" alt="Instagram">
      <img class="iconos-redes" src="facebook.png" height="60px" width="60px"  alt="Facebook">
      <img class="iconos-redes" src="twitter.png" height="60px" width="60px"  alt="Twitter">
      <h4>TODOS LOS DERECHOS RESERVADOS ®</h4>
  </footer>
  </div>
  </div>
</body>
</html>