body
{
    background: #D3CCE3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
footer
 {
    background-color:#d0b5e5;
    padding: 30px 0;
    text-align: center;
    color: rgb(14, 22, 57);

}
.Fondo{
    background-image: url("Patitas.png");
    background-repeat: repeat;
    position: relative;
    background-size: 5%;
}